<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyU Indumentaria</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="../index.html">
			<img src="../img/logo.svg" alt="logo de pagina" class="logo">
			</a>
			<ul>
				<li>
					<a href="../views/catalogo.html">Catalogo</a>
				</li>
				<li>
					<a href="../views/nosotros.html">Nosotros</a>
				</li>
				<li>
					<a href="../views/ofertas.html">Ofertas</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h1 class="text-bold text-center espacio titulo__xxl p__articulo bg">♥ Amamos TODOS los cuerpos. Encontrá la indumentaria que te gusta sin importar el talle ♥</h1>
		</section>
		<section class="text-center espacio">
			<h2 class="text-bold titulo__xxl">Tambien podes comunicarte por:</h2>
			<h3 class="text-bold htres">(Normalmente respondemos en algunas horas)</h3>

			<div class="gmail bg">
				<a href="https://www.gmail.com" target="_blank">
					<img src="../img/gmail.png" alt="foto de gmail" class="icon-contact-g espacio">
				</a>

				<a href="https://www.facebook.com" target="_blank">
					<img src="../img/facebook.png" alt="foto de la red social facebook" class="icon-contact-f espacio">
				</a>
			</div>
		</section>

		<section>
			<form action="envio.php">
				<div class="text-center p__articulo bg">
					<legend>Información Personal</legend>
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre">
					<br>
					<label for="email">Email</label>
					<input type="email" id="email">
					<br>
					<label for="pswrd">Contraseña</label>
					<input type="pswrd" id="pswrd">
				</div>
			</form>
		</section>
	</main>
	<footer class="text-center pie">
		<h3 class="pie__titulo--md">Contacto:</h3>
		<a href="https://www.instagram.com" target="_blank">
			<img src="../img/ig.png" alt="foto de la red social instagram" class="pie__icon">
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<img src="../img/tw.png" alt="foto de la red social twitter" class="pie__icon">
		</a>
	</footer>
</body>
</html>