<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyU Indumentaria</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="../index.html">
			<img src="../img/logo.svg" alt="logo de pagina" class="logo">
			</a>
			<ul>
				<li>
					<a href="../views/catalogo.html">Catalogo</a>
				</li>
				<li>
					<a href="../views/nosotros.html">Nosotros</a>
				</li>
				<li>
					<a href="../views/ofertas.html">Ofertas</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="text-center p__articulo bg">
			<h2 class="text-bold titulo__xxl espacio">Nuestras ofertas son:</h2>
			<img src="../img/c1.png" alt="articulo de indumentaria">
			<img src="../img/c4.jpeg" alt="articulo de indumentaria">
		</section>
	</main>
	<footer class="text-center pie">
		<h3 class="pie__titulo--md">Contacto:</h3>
		<a href="https://www.instagram.com" target="_blank">
			<img src="../img/ig.png" alt="foto de la red social instagram" class="pie__icon">
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<img src="../img/tw.png" alt="foto de la red social twitter" class="pie__icon">
		</a>
	</footer>
</body>
</html>